version: "3.8"

networks:
  vespa-network:
    external: true   # use existing network created by Vespa

services:

  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
    ports:
      - "8088:8080"
      - "7077:7077"
    volumes:
      - ./spark-work:/opt/spark/work
    networks:
      - vespa-network

  spark-worker-1:
    image: apache/spark:3.5.0
    container_name: spark-worker-1
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    depends_on:
      - spark-master
    volumes:
      - ./spark-work:/opt/spark/work
    networks:
      - vespa-network

  spark-worker-2:
    image: apache/spark:3.5.0
    container_name: spark-worker-2
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    depends_on:
      - spark-master
    volumes:
      - ./spark-work:/opt/spark/work
    networks:
      - vespa-network
