# version: "3.8"

# services:
#   zookeeper:
#     image: zookeeper:3.9
#     container_name: zookeeper
#     ports:
#       - "2181:2181"

#   solr1:
#     image: solr:9
#     container_name: solr1
#     ports:
#       - "8983:8983"
#     command:
#       - solr
#       - start
#       - -c
#       - -f
#       - -z
#       - zookeeper:2181
#     depends_on:
#       - zookeeper

#   solr2:
#     image: solr:9
#     container_name: solr2
#     ports:
#       - "8984:8983"
#     command:
#       - solr
#       - start
#       - -c
#       - -f
#       - -z
#       - zookeeper:2181
#     depends_on:
#       - zookeeper




#### with schema ####
version: "3.8"

services:
  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    ports:
      - "2181:2181"
    volumes:
      - ./zk-data:/data
      - ./zk-data:/datalog

  solr1:
    image: solr:9
    container_name: solr1
    ports:
      - "8983:8983"
    command:
      - solr
      - start
      - -c
      - -f
      - -z
      - zookeeper:2181
    volumes:
      - ./solr1-data:/var/solr
      - ./configsets:/opt/solr/server/solr/configsets
    environment:
      SOLR_HEAP: 1g
    depends_on:
      - zookeeper

  solr2:
    image: solr:9
    container_name: solr2
    ports:
      - "8984:8983"
    command:
      - solr
      - start
      - -c
      - -f
      - -z
      - zookeeper:2181
    volumes:
      - ./solr2-data:/var/solr
      - ./configsets:/opt/solr/server/solr/configsets
    environment:
      SOLR_HEAP: 1g
    depends_on:
      - zookeeper
